.product-details-container {
    padding: 20px;
}

.product-image img {
    min-width: 800px;
    
    height: 500px;
}

.product-info {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-info {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Add more custom styles as needed */