.product-link {
    text-decoration: none;
    /* Remove underline */
    color: #000;
    /* Set the text color to black (or your desired color) */
}
img {
    height: 350px;
    width: 200px;
}
.product-link:hover {
color: #9b9797;
}